body{
    height:100vh;
    background-image: url(/images/backgroundEdit.jpg);
    background-size: contain; 
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
    background-color: aliceblue;
    width: 25%;
    height: 45%;
    margin-top: 10%;
    text-align: center;
    .input{
        width: 75%;
    }
    }
}
.control{
    display: flex;
    justify-content: center;
}
.label:not(:last-child){
    margin-top: .5em;
  }

  /*ICONO MAIL*/
  .control.has-icons-left .icon.is-left{
      left: 12%;
  }
  
  /*BOTON VOLVER*/
  .back-button{
      margin: 0;
  }



 /*BOTON GUARDAR*/
 .boton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
  }
  .save-button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .save-button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }